.product_container {
    margin-top: 10%;
}

.product_img {
    margin-top: 10%;
}

.info {
    margin-top: 0%;
}

.button_container {
    position: absolute;
    margin-top: 5%;
    margin-right: 35%;
    right: 0;
}