.popup {  
  position: fixed;
  width: 40%;  
  height: auto;
  top: 30%;  
  left: 15%;  
  right: 15%;  
  bottom: auto;
  margin: auto;
  padding: 1%;
  color: white;
  background-color: rgba(75, 75, 75);
  z-index: 1;
  }  
  
.popup\_inner {  
  position: absolute;  
  left: 25%;
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;
  z-index: 1;
}

.title_label{
  margin-left: 10%;
}